# 忽略 uploads 文件夹
uploaded_files/

output/

output_dir/

# 忽略所有以 tmp 开头的文件夹
tmp*/

# 忽略 Python 编译文件
*.pyc
*.pyo
*.pyd
*.db
__pycache__/


# 忽略 web 文件夹下的 __pycache__ 文件夹
synapse_flow/web/__pycache__/

synapse_flow/__pycache__/
